.root {
    padding: 10px;
    flex-direction: column;
    font-size: 1.5rem;
}

.text-container {
    text-align: center;
}

.id {
    color: hsl(300, 69%, 50%);
    font-size: 1.6rem;
}

@media (max-width: 600px) {
    .root {
        font-size: 1rem;
    }

    .id {
        font-size: 1.3rem;
    }
}
