<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/download.css" />
        <title>Result</title>
    </head>
    <body>
        <%- include("navbar.ejs") -%>
        <div class="root">
            <div class="container">
                <h1 class="title">Result</h1>
                <hr />
                <p class="doujin-name"><%= name %></p>
                <%- image -%>
                <button class="download-btn">Download</button>
            </div>
        </div>
    </body>
</html>
