<link rel="stylesheet" href="../css/footer.css" />

<footer>
    <div class="footer">
        <p>
            <a href="https://github.com/mangadi3859/doujin" class="source-code">Source Code</a>
            <span>&middot;</span>
            <a href="https://github.com/mangadi3859/" class="author">© mangadi3859</a>
        </p>
    </div>
</footer>
