<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Download doujin from nhentai.net on th                                                                                        is simple project" />
        <meta name="author" content="mangadi3859 - I S L A" />
        <title>Nhentai Download</title>
        <link rel="icon" href="../images/logo.png" />
        <link rel="stylesheet" href="css/index.css" />
        <script data-ad-client="ca-pub-6759103384930480" async src="https://page                                                                                        ad2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
  
    <body>
        <%- include("navbar.ejs") -%>
          <div class="wrapper">
            <div class="wrapper1">
                        <div class="sqr">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
          </div>
          <div class="root">
            <form action="download" method="POST" class="form-container">
                <h3 class="title">Search Your Doujin</h3>
                <hr />
                <div class="input-wrapper">
                    <input type="number" class="input-container" id="focus" name                                                                                        ="id" required placeholder="Nhentai ID/Code" />
                    <button class="submit-btn">Search</button>
                </div>
            </form>              
    <script>
        document.getElementById("focus").focus();
    </script>
            <footer>
          <div class="footer-copyright">
            <p>
              <a href="https://github.com/mangadi3859/doujin">© Source Code &middot; </a>
                <!-- Link back to the template is required under the license terms -->
              <a href="https://github.com/mangadi3859/">GitHub</a>
          </div>
        </footer>
              </div>
            </div>
          </div>
          </%->
      
  </body>
</html>
