<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Download doujin from nhentai.net on this simple project" />
        <meta name="author" content="mangadi3859 - I S L A" />
        <title>Nhentai Download</title>
        <link rel="icon" href="../images/logo.png" />
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <%- include("navbar.ejs") -%>
        <div class="root">
            <form action="download" method="POST" class="form-container" target="_blank">
                <%- include("./particle.ejs") -%>
                <h3 class="title">Search Your Doujin</h3>
                <hr />
                <div class="input-wrapper">
                    <input type="number" class="input-container" value="<%= id || "" %>" id="focus" name="id" required placeholder="Nhentai ID/Code" />
                    <button class="submit-btn">Search</button>
                </div>
            </form>
        </div>
        <%- include("footer.ejs") -%>
    </body>
    <script>
        document.getElementById("focus").focus();
        window.history.pushState({}, null, window.location.pathname);
    </script>
</html>
