<link rel="stylesheet" href="../css/navbar.css" />

<header>
    <a href="https://github.com/mangadi3859" class="logo-btn">
        <img src="/images/logo.png" alt="logo" class="logo-img" />
        <div class="logo-text">ISLA</div>
    </a>
    <!--- Normal Navbar -->
    <navbar class="nav-root">
        <ul class="nav-container">
            <li><a href="https://github.com/mangadi3859/doujin">CODE</a></li>
            <li><a href="https://github.com/mangadi3859">GITHUB</a></li>
        </ul>
    </navbar>
</header>
