<link rel="stylesheet" href="../css/navbar.css" />

<header>
        <a href="https://github.com/mangadi3859" class="logo-btn">
        <img src="/images/logo.png" alt="logo" class="logo-img" />
    <div class="logo-text">ISLA</div>
  </a>
    <!--- Normal Navbar -->
            <a href="https://github.com/Kimetsunime" class="logo-btn">
              <div class="logo-text">LeaF</div>
              <img src="/images/logoleaf.png" alt="logo" class="logo-img2" />
  </a>
</header>
