<link rel="stylesheet" href="../css/particle.css" />

<div class="particle-container">
    <img class="particle-item" src="../images/triangle.svg" alt="huh?" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
    <img class="particle-item" src="../images/triangle.svg" />
</div>
